*{
	padding: 0;
	margin: 0 auto;
}
 
/*设置整个文本的背景颜色，字体和字体大小*/
body{
	background: #F5F5DC;
	font-size: 16px;
	font-family: 微软雅黑;
}
 
.main{
	width:1200px;
	top:0px;
	position: relative;
}
 
/*设置logo位置，浮动*/
.div1{
	width: 300px;
	height: 50px;
	float:left;
	margin-top:10px;
}
 
/*设置菜单栏*/
.div2{
	width: 600px;
	height:50px;
	float:left;
	/*line-height: 30px;*/
	margin-top:30px;
}
 
/*隐藏菜单栏的无序列表*/
.hide{
	display:none;
}
 
.menu_title{
	margin-bottom: 10px;
}
 
/*无序列表设置样式*/
.div2 ul{
	margin-top:0px;
	position: relative;
	line-height:20px;
	list-style:none;
	float:left;
	width:75px;
}
 
/*设置背景颜色*/
.div2 ul li{
	background-color: rgba(255,255,255,0.5);
}
 
/*设置登陆注册的位置和浮动*/
.div3{
	width: 100px;
	height:50px;
	float:right;
	line-height: 40px;
	margin-top:30px;
}
 
/*设置banner区图片位置*/
.banner{
	width:1200px;
	float:left;
	margin:10px auto 10px;
}
 
/*设置a标签，不要下划线，颜色为黑色*/
a{
	text-decoration: none;
	color:#000;
}
 
/*设置a标签访问过不要下划线，颜色为紫色*/
a:visited{
	text-decoration: none;
	color:purple;
}
/*设置商品展示区的整体大小位置*/
.picture0{
	width:1200px;
	margin:10px auto;
}
 
/*设置底纹，阴影样式*/
.pic1,.pic2{
	width:360px;
	height:420px;
	background-color: white;
	float:left;
	margin:10px 60px 60px 0;
	box-shadow: 0 0 5px 3px #ccc
}
 
/*设置图片下面的文字样式*/
.picture1 h3,.picture2 h3{
	color:red;
	margin:10px 20px;
}
 
/*设置图片下的描述文字样式，两端对齐*/
.picture1 p ,.picture2 p{
	font-size: 12px;
	text-align: justify;
	color:black;
	letter-spacing: 2px;
	margin:10px 20px;
}
 
/*设置每一个图片以及描述文字的位置，左右间隔60px*/
.picture1 .pic1{
	width:360px;
	margin-right:60px;
	margin-left: 0px;
	float:left;
}
 
/*设置每行最后一组图片样式*/
.picture1 .last{
	margin-right:0px;
	float:left;
}
 
/*设置每一个图片以及描述文字的位置，左右间隔60px*/
.picture2 .pic2{
	width:360px;
	margin-right:60px;
	margin-left: 0px;
	float:left;
}
 
/*设置每行最后一组图片样式*/
.picture2 .last{
	margin-right:0px;
	float:left;
}
 
/*设置价格的颜色，位置，大小*/
.price{
	color:red;
	float:left;
	width: 180px;
	height:50px;
	margin:10px 20px;
}
 
/*购物车图片大小设置*/
.img{
	width:25px;
	height:30px;
}
 
/*购物车背景颜色，圆角浮动设置*/
.shopping_cart{
	width: 50px;
	height:30px;
	float:right;
	background-color: red;
	text-align: center;
	line-height: 30px;
	border-radius: 10%;
	margin:10px 20px 10px 5px;
}
 
/*页码区*/
/*页码大小，行高，位置*/
.page{
	width:1200px;
	margin:20px auto 10px auto;
	height: 60px;
	line-height:60px;
}
 
.page ul{
	margin:auto;
	width:600px;
}
 
/*无序列表设置*/
.page ul li{
	float:left;
	margin-right: 20px;
	list-style:none;
}
 
/*第一页设置圆角，背景颜色和字体颜色*/
.first_page{
	border-radius:50%;
	padding:5px 10px;
	background-color: #c5c5c5;
	color:black;
}
 
/*页脚区*/
/*设置位置，浮动，上边框线*/
.footer{
	width: 1200px;
	margin:10px auto;
	border-top: 1px solid gray;
	float:left;
}
 
/*设置页脚文字大小，间距以及居中*/
.footer p{
	text-align: center;
	height:50px;
	line-height: 50px;
	letter-spacing: 2px;
	font-size:14px;
}
 
/*设置文字为粉红色*/
span{
	color:#FF69B4;
}